pytest==9.1.1
pytest-asyncio==1.4.0
tornado==6.5.7
isodate==0.7.2
python-redmine==2.5.0
requests==2.34.2
url-normalize==3.0.0

# Needed for redmine lib, but no longer included by default in python:3.12
setuptools==82.0.1
