pytest==7.1.2
pytest-asyncio==0.19.0
tornado==6.5.0
isodate==0.6.0
python-redmine==2.2.1
url-normalize==2.2.1

# Needed for redmine lib, but no longer included by default in python:3.12
setuptools==80.9.0
